*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.ribbon {
    position: fixed;
    top: 25%;
    left: -2%;
    width: 290px;
    background-color: rgba(60, 110, 113, 0.8); /* transparent green */
    color: white;
    text-align: center;
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    z-index: 10000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 4px 0;
  }
  
  
  